body{
    background-color: black;
}
button{
    background-color: #4CAF50;
    border: 1px solid green;
    color: white;
    padding: 10px 24px;
    text-align: center;
    cursor: pointer;
}
table{
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
    max-height: 100%;
    max-width: 100%; 
    margin: 5%;
}
td{
    font-size: 80%;
}
span{
    padding-right: 5%;
    font-size: 1.2em;
}
.link{
    color: wheat;
}
.link:link{
    text-align: left;
    font-size: 80%;
    font-family: sans-serif;
    text-decoration: none;
}
.link:hover{
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
.link:active{
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
.firstColl{
    width: 40%;
    width: max-content;
}
.firstCollFullData{
    width: 40%;
}
.backfon{
    width: 160%;
    height: 110%;
    position: fixed;
    z-index: -1;
    margin-top: -5%;
    margin-left: -40%;
}
.dataNameUser {
    background: rgba(0,100,100,0.4);
    padding: 1px;
    margin-bottom: 2%;
    font-size: 20px;
    border: 1px solid black;
    width: 30%;
    margin-top: 2%;
    margin-left: 35%;
    border-radius: 1em;
    overflow: hidden;
}
.avatarUserSmall{
    border-radius: 1em;
    height: 130%;  
}
.avatarUserBig{
    border-radius: 1em;
    max-height: 100%;
    max-width: 100%;  
}
.filtr{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.8);
  z-index: 99998;
  display: none;
}
.fullDataNameUser {
    position: fixed;
    font-family: sans-serif;
    top: 10%;
    right: 10%;
    bottom: 40%;
    left: 10%;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
    background-color: #61b6ff;
    border-radius: 2em;
    height: auto;
    width: auto;
}
.fullDataNameUser:target {
    display: block;
    pointer-events: auto;
}
.fullDataNameUser > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.modal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  heigth: 100%;
  overflow: auto;
  background-color: red;
}
.close{
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #00d9ff; }